body {
  background-color: #545f67;
  color: black;

}

.bullypic{
  background-image:url("https://c1.staticflickr.com/1/231/497345495_f3480418bb_b.jpg");
  height:80vh;
  background-repeat:no-repeat;
  background-position: center;
  background-size:auto;
}

.whatever{
  background-color: white;
  font-size: 50px;
}

.header{
  font-family: 'Cabin Sketch', cursive;
}

.text-background{
  background: white;
  font-size: 20px;
}

.header-color{
  color: white;
}

.answer-boxes{
  background-color: white;
  font-size: 30px;
}
